$main-color: #F7F7F7;
$btn-color: #A1483D;
$dark-green: #104845;
$card-green: #517445;
$lastCard-green: #34756e;
$light-green: #A1CEC5;
$contact-yellow: #FAC390; 
$underline-color: #F97E6D;
$logo-color: #162B6F;